<%- model_class = Job -%>
<div class="page-header">
  <h1>
    <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_job_path,
                :class => 'btn btn-success' %>
  </h1>
</div>
<h1>Result</h2>
<h3><%= sort_jobs_by_dependancies(@jobs, @jobs_with_dependancies) %></h3>
<br>
<table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:dependant) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.name, job_path(job), class: 'btn-link' %></td>
        <td><%= dependant_name(job.dependant) %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      job_path(job), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_job_path(job), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
