<ul class="list-inline text-left">
  <li>
    <% if active == 'listen' %>
      <%= glyph 'headphones'%> <%= t(:listen) %>
    <% else %>
      <%= link_to '#', type: "button", data: {toggle: "modal", target: "#musicModal"},
                   class: 'btn btn-link' do %>
          <%= glyph 'headphones'%> <%= t(:listen) %>
      <% end %>
    <% end %>
  </li>
  <li>
    <% if active == 'watch' %>
      <%= glyph 'film'%> <%= t(:watch) %>
    <% else %>
      <%= link_to '#', type: "button", data:
                  {toggle: "modal", dismiss:'modal', target: "#videoModal"},
                   class: 'btn btn-link' do %>
        <%= glyph 'film'%> <%= t(:watch) %>
      <% end %>
    <% end %>
  </li>
  <li>
    <% if active == 'bio' %>
      <%= glyph :book %> <%= t(:biography) %>
    <% else %>
      <%= link_to '#', type: "button", data:
                  {toggle: "modal", dismiss:'modal', target: "#bioModal"},
                   class: 'btn btn-link' do %>
                   <%= glyph :book %> <%= t(:biography) %>
      <% end %>
    <% end %>
  </li>
  <li>
    <% if active == 'lyrics' %>
      <%= glyph :pencil %> <%= t(:lyrics) %>
    <% else %>
      <%= link_to '#', type: "button", data:
                  {toggle: "modal", dismiss:'modal', target: "#lyrics", locals: {active: 'lyrics'}},
                   class: 'btn btn-link' do %>
        <%= glyph :pencil %> <%= t(:lyrics) %>
      <% end %>
    <% end %>
  </li>
  <li class='hidden-sm hidden-xs'>
    <% if active == 'synth' %>
      <%= glyph :music %> <%= t(:synth_controls) %>
    <% else %>
      <%= link_to '#', type: "button", data:
                  {toggle: "modal", dismiss:'modal', target: "#funModal"},
                   class: 'btn btn-link' do %>
        <%= glyph :music %> <%= t(:synth_controls) %>
      <% end %>
    <% end %>
  </li>
  <li class='hidden-sm hidden-xs'>
    <% if active == 'draw' %>
      <%= glyph :picture %> <%= t(:draw) %>
    <% else %>
      <%= link_to '#', type: "button", data:
                  {toggle: "modal", dismiss:'modal', target: "#drawModal"},
                   class: 'btn btn-link' do %>
          <%= glyph :picture %> <%= t(:draw) %>
      <% end %>
    <% end %>
  </li>
</ul>
