<ul class="dropdown-menu list-inline text-left">
  <li>
      <%= link_to t(:listen), '#', type: "button", data:
                    {toggle: "modal", target: "#musicModal"},
                     class: 'btn btn-link' %>
  </li>
  <li>
      <%= link_to t(:watch), '#', type: "button", data:
                  {toggle: "modal", dismiss:'modal', target: "#videoModal"},
                   class: 'btn btn-link active' %></li>
  <li>
      <%= link_to t(:biography), '#', type: "button", data:
                  {toggle: "modal", dismiss:'modal', target: "#bioModal"},
                   class: 'btn btn-link' %></li>
  <li>
      <%= link_to t(:lyrics), '#', type: "button", data:
                  {toggle: "modal", dismiss:'modal', target: "#lyrics"},
                   class: 'btn btn-link', locals: {active: 'lyrics'} %></li>
  <li class='hidden-sm hidden-xs'>
      <%= link_to t(:synth_controls), '#', type: "button", data:
                  {toggle: "modal", dismiss:'modal', target: "#funModal"},
                   class: 'btn btn-link' %></li>
  <li class='hidden-sm hidden-xs'>
      <%= link_to t(:draw), '#', type: "button", data:
                  {toggle: "modal", dismiss:'modal', target: "#drawModal"},
                   class: 'btn btn-link' %></li>
</ul>
