<ul class="freshman-effort list-unstyled">
  <li><%= link_to t(:hope), '#', type: "button", data:{
          toggle: "modal", target: "#hope", dismiss:'modal'},
          class: 'btn-link' %></li>
  <li><%= link_to t(:plate), '#', type: "button", data: {
          toggle: "modal", target: "#plate", dismiss:'modal'},
          class: 'btn-link' %></li>
  <li><%= link_to t(:compensated), '#', type: "button", data: {
          toggle: "modal", target: "#compensated", dismiss:'modal'},
          class: 'btn-link' %></li>
  <li><%= link_to t(:take_cover), '#', type: "button", data: {
          toggle: "modal", target: "#take-cover", dismiss:'modal'},
          class: 'btn-link' %></li>
  <li><%= link_to t(:one_man), '#', type: "button", data: {
          toggle: "modal", target: "#one-man", dismiss:'modal'},
          class: 'btn-link' %></li>
  <li><%= link_to t(:roll), '#', type: "button", data: {
          toggle: "modal", target: "#roll", dismiss:'modal'},
          class: 'btn-link' %></li>
  <li><%= link_to t(:nobodys_fault), '#', type: "button", data: {
          toggle: "modal", target: "#nobodys-fault", dismiss:'modal'},
          class: 'btn-link' %></li>
  <li><%= link_to t(:alone), '#', type: "button", data: {
          toggle: "modal", target: "#alone", dismiss:'modal'},
          class: 'btn-link' %></li>
  <li><%= link_to t(:rivers), '#', type: "button", data: {
          toggle: "modal", target: "#rivers", dismiss:'modal'},
          class: 'btn-link' %></li>
  <br>
  <li><%= t(:freshman_notes_html) %></li>
</ul>
