<%= form_for @venue, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :location, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :location, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :phone, :class => 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :about, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :about, :class => 'text_field form-control col-md-12' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :youtube, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :link, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :website, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :link2, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :id => 'submit', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  venues_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
