<%= form_for @welcome, html: { class: "form-horizontal welcome", remote: true } do |f| %>

  <% if @welcome.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@welcome.errors.count, "error") %> prohibited this welcome from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @welcome.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :bandName, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :bandName, :class => 'form-control' %>
    </div>
    <%=f.error_span(:bandName) %>
  </div>
  <div class="form-group">
    <%= f.label :headline, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :headline, :class => 'form-control' %>
    </div>
    <%=f.error_span(:headline) %>
  </div>
  <div class="form-group">
    <%= f.label :message, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :message, :class => 'form-control' %>
    </div>
    <%=f.error_span(:message) %>
  </div>
  <div class="form-group">
    <%= f.label :logo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :logo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:logo) %>
  </div>
  <div class="form-group">
    <%= f.label :restart_count, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :restart_count, :class => 'form-control' %>
    </div>
    <%=f.error_span(:restart_count) %>
  </div>
  <div class="form-group">
    <%= f.label :destroy_count, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :destroy_count, :class => 'form-control' %>
    </div>
    <%=f.error_span(:destroy_count) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :remote => true, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                welcomes_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
