<!-- Modal -->
<div id="bioModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Bio</h4>
      </div>
      <div class="modal-body">
        <p><%= t(:bio_html) %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
      </div>
    </div>

  </div>
</div>

<div id="musicModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:music) %></h4>
      </div>
      <div class="modal-body">
        <label><%= t(:playlist_description_html) %></label>
        <iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/245155799&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        <label><%= t(:playlist_description2_html) %></label>
        <iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/275945939&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div id="liveModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:live) %></h4>
      </div>
      <div class="modal-body">
        <p class='text-center'>You don't know East Kin until you've seen them live. Coming soon to a bar near you... if you live in Nashville.</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div id="videoModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:video) %></h4>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/Dt6hSgKSE9k" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Hide</button>
      </div>
    </div>

  </div>
</div>
<div id="funModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:synth_controls) %></h4>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <div id="synth-widget"></div>
          <%= t(:synth_explaination_html) %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Hide</button>
      </div>
    </div>

  </div>
</div>
<div id="lyrics" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:Lyrics) %></h4>
      </div>
      <div class="modal-body">
        <h4 class="modal-title"><%= t(:Album) %></h4>
        <%= link_to t(:fresman_effort), '#', type: "button", data: {dismiss:"modal", toggle: "modal", target: "#freshman"}, class: 'btn-link' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="freshman" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:freshman_effort) %></h4>
        <%= image_tag 'East Kin - Freshman Effort.png', class:'img img-responsive col-md-3 pull-right cover'%>
      </div>
      <div class="modal-body">
        <ul class="freshman-effort">
          <li><%= link_to t(:hope), '#', type: "button", data: {toggle: "modal", target: "#hope"}, class: 'btn-link' %></li>
          <li><%= link_to t(:plate), '#', type: "button", data: {toggle: "modal", target: "#plate"}, class: 'btn-link' %></li>
          <li><%= link_to t(:compensated), '#', type: "button", data: {toggle: "modal", target: "#compensated"}, class: 'btn-link' %></li>
          <li><%= link_to t(:take_cover), '#', type: "button", data: {toggle: "modal", target: "#take-cover"}, class: 'btn-link' %></li>
          <li><%= link_to t(:one_man), '#', type: "button", data: {toggle: "modal", target: "#one-man"}, class: 'btn-link' %></li>
          <li><%= link_to t(:roll), '#', type: "button", data: {toggle: "modal", target: "#roll"}, class: 'btn-link' %></li>
          <li><%= link_to t(:nobodys_fault), '#', type: "button", data: {toggle: "modal", target: "#nobodys-fault"}, class: 'btn-link' %></li>
          <li><%= link_to t(:alone), '#', type: "button", data: {toggle: "modal", target: "#alone"}, class: 'btn-link' %></li>
          <li><%= link_to t(:rivers), '#', type: "button", data: {toggle: "modal", target: "#rivers"}, class: 'btn-link' %></li>
        </ul>
      </div>
      <div class="modal-footer">
        <%= link_to t(:back), '#', type: "button", data: {dismiss:"modal", toggle: "modal", target: "#lyrics"}, class: 'btn btn-default pull-left' %>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div id="hope" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:hope) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:hope_html) %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Back</button>
      </div>
    </div>

  </div>
</div>
<div id="compensated" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:compensated) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:compensated_html) %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Back</button>
      </div>
    </div>

  </div>
</div>
<div id="take-cover" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:take_cover) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:take_cover_html) %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Back</button>
      </div>
    </div>

  </div>
</div>
<div id="one-man" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:one_man) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:one_man_html) %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Back</button>
      </div>
    </div>

  </div>
</div>
<div id="roll" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:roll) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:roll_html) %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Back</button>
      </div>
    </div>

  </div>
</div>
<div id="nobodys-fault" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:nobodys_fault) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:nobodys_fault_html) %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Back</button>
      </div>
    </div>

  </div>
</div>
<div id="alone" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:alone) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:alone_html) %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Back</button>
      </div>
    </div>

  </div>
</div>
<div id="rivers" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:rivers) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:rivers_html) %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Back</button>
      </div>
    </div>

  </div>
</div>
<div id="plate" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:plate) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:plate_html) %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Back</button>
      </div>
    </div>

  </div>
</div>
