<!-- Modal -->


<%= modal_dialog id: "bioModal",
         header: { show_close: true, dismiss: 'modal', title: (render partial: 'shared/decisions-nav', locals: {active: 'bio'}) },
         body:   { content: t(:bio_html) },
         footer: { content: '' } %>

<%= modal_dialog id: "musicModal",
         header: { show_close: true, dismiss: 'modal' },
         body:   { content: '
           <iframe width="100%" height="300" scrolling="no" frameborder="no"
             src="//w.soundcloud.com/player/?url=https%3A//w.soundcloud.com/playlists/245155799&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false">
           </iframe>'.html_safe },
         footer: { content: ''.html_safe } %>

<%= modal_dialog id: "liveModal",
         header: { show_close: true, dismiss: 'modal', title: (render partial: 'shared/decisions-nav', locals: {active: 'live'}) },
         body:   { content: '
          <p class="text-center">
            You dont know East Kin until
            you see them live. Coming soon to a bar near
            you... if you live in Nashville.
          </p>
          <p class="text-center">
          <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Feastkin.nashville%2Fposts%2F651183395006412&width=auto&show-text=false" width="100%" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          </p>'.html_safe },
         footer: { content: '' } %>

<%= modal_dialog id: "videoModal",
         header: { show_close: true, dismiss: 'modal', title: (render partial: 'shared/decisions-nav', locals: {active: 'watch'}) },
         body:   { content: '
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width=100% src="//www.youtube.com/embed/kyA8oP08WQ0"
              frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="100%" src="https://www.youtube.com/embed/yHDk9qnt4xI"
            frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="100%" src="//www.youtube.com/embed/PIebThYRo9I"
              frameborder="0" allowfullscreen></iframe>
          </div>
          '.html_safe},
         footer: { content: '' } %>

<%= modal_dialog id: "example",
         header: { show_close: true, dismiss: 'modal', title: t(:drawing_example) },
         body:   { content: '
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="400" height="315" src="//www.youtube.com/embed/yA8gaiW4Bdg"
            frameborder="0" allowfullscreen></iframe>
          </div>'.html_safe + image_tag('EKBoat.png') + image_tag('smileyou.png')},
         footer: { content: '' } %>

<%= modal_dialog id: "funModal",
         header: { show_close: true,
                   dismiss: 'modal',
                   title: "#{render partial: 'shared/decisions-nav',
                                    locals: { active: 'synth' }}".html_safe },
         body:   { content: "<div id='synth-widget'></div>".html_safe + t(:synth_explaination_html) },
         footer: {content: '' } %>

<%= modal_dialog id: "drawModal",
         header: { show_close: true, dismiss: 'modal', title: (render partial: 'shared/decisions-nav', locals: {active: 'draw'}) +
           "Draw - Mousewheel to change size of brush, click color to change color
           and see clear and save controls inside the color preview. -
           <a type='button' data-toggle='modal' href='#example', class='btn-link'>
           Drawing Examples</a>".html_safe
          },
         body:   { content: "<div class='row'></div><div id='drawing-widget'></div>".html_safe },
         footer: {content: "" } %>

<%= modal_dialog id: "lyrics",
  header: {
    show_close: true, dismiss: 'modal', title: (
    render partial: 'shared/decisions-nav',
    locals: { active: 'lyrics' }) },
  body:   { content: "<h4 class='modal-title'>#{t(:Album)}</h4>
   <h4>#{link_to t(:freshman_effort), '#', type: 'button', data: {toggle: 'modal', target: '#freshman'}, class: 'btn-link'}</h4>
   <h4>#{link_to t(:other), '#', type: 'button', data: {toggle: 'modal', target: '#other'}, class: 'btn-link' }</h4>
  ".html_safe },
  footer: {content: "" } %>

<%= modal_dialog id: "contactModal",
  header: { show_close: true, dismiss: 'modal',
             title: (render partial: 'shared/decisions-nav',
             locals: { active: 'contact'}) },
  body:   {
    content: "
      <h4>Booking/Band Contact<hr><h4>
      <a class='btn btn-default btn-sm' href='tel:+1+615-403-1333'>
        Call East Kin's Agent/Guitar Player</a><br><br>
      <a class='btn btn-default btn-sm'
         href='mailto:jzvolensky@gmail.com?
         subject=Message to East Kin from eastkin.us'>
         Mail East Kin's Agent/Guitar Player
      </a><br><br>
      <h4>Developement Contact<hr><h4>
      <h6>eastkin.us is Developed by RanSolo</h6>
      <a class='btn btn-default btn-sm'
         href='tel:+1+615-604-5706'>
         Call East Kin's Developer/Mando Player</a><br><br>
      <a class='btn btn-default btn-sm'
         href='mailto:ransolo@me.com?subject=Message to East Kin from eastkin.us'>
         Mail East Kin's Developer/Mando Player
      </a><br><br>".html_safe },
  footer: { content: "" } %>

<div id="freshman" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-toggle='modal', data-target='#lyrics'>&times;</button>
        <%= link_to "<", '#', type: "button", data: {dismiss:'modal'}, class: 'close' %>
        <h4 class="modal-title"><%= t(:freshman_effort) %></h4>
      </div>
      <div class="modal-body">
        <li><%= link_to t(:listen), '#', type: "button", data:
                        {toggle: "modal", target: "#musicModal"},
                         class: 'btn btn-link' %>
        <%= image_tag 'East Kin - Freshman Effort.png', class:'img img-responsive col-md-3 pull-right cover'%>
        <%= render partial: 'shared/freshman' %>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div id="other" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-toggle='modal', data-target='#lyrics'>&times;</button>
        <%= link_to "<", '#', type: "button", data: {dismiss:'modal'}, class: 'close' %>
        <h4 class="modal-title"><%= t(:other) %></h4>
      </div>
      <div class="modal-body">
        <ul class="other">
          <li><%= link_to t(:want_to), '#', type: "button", data: {toggle: "modal", target: "#want-to", dismiss: "modal"}, class: 'btn-link' %></li>
        </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div id="hope" class="modal fade lyric" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-toggle='modal', data-target='#lyrics'>&times;</button>
        <%= link_to "<", '#', type: "button", data: {toggle: "modal", target: "#freshman", dismiss:'modal'}, class: 'close' %>
        <h4 class="modal-title"><%= t(:hope) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:hope_html) %></p>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div id="compensated" class="modal fade lyric" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-toggle='modal', data-target='#lyrics'>&times;</button>
        <%= link_to "<", '#', type: "button", data: {toggle: "modal", target: "#freshman", dismiss:'modal'}, class: 'close' %>
        <h4 class="modal-title"><%= t(:compensated) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:compensated_html) %></p>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div id="take-cover" class="modal fade lyric" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-toggle='modal', data-target='#lyrics'>&times;</button>
        <%= link_to "<", '#', type: "button", data: {toggle: "modal", target: "#freshman", dismiss:'modal'}, class: 'close' %>
        <h4 class="modal-title"><%= t(:take_cover) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:take_cover_html) %></p>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div id="one-man" class="modal fade lyric" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-toggle='modal', data-target='#lyrics'>&times;</button>
        <%= link_to "<", '#', type: "button", data: {toggle: "modal", target: "#freshman", dismiss:'modal'}, class: 'close' %>
        <h4 class="modal-title"><%= t(:one_man) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:one_man_html) %></p>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div id="roll" class="modal fade lyric" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-toggle='modal', data-target='#lyrics'>&times;</button>
        <%= link_to "<", '#', type: "button", data: {toggle: "modal", target: "#freshman", dismiss:'modal'}, class: 'close' %>
        <h4 class="modal-title"><%= t(:roll) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:roll_html) %></p>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div id="nobodys-fault" class="modal fade lyric" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-toggle='modal', data-target='#lyrics'>&times;</button>
        <%= link_to "<", '#', type: "button", data: {toggle: "modal", target: "#freshman", dismiss:'modal'}, class: 'close' %>
        <h4 class="modal-title"><%= t(:nobodys_fault) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:nobodys_fault_html) %></p>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div id="alone" class="modal fade lyric" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-toggle='modal', data-target='#lyrics'>&times;</button>
        <%= link_to "<", '#', type: "button", data: {toggle: "modal", target: "#freshman", dismiss:'modal'}, class: 'close' %>
        <h4 class="modal-title"><%= t(:alone) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:alone_html) %></p>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div id="rivers" class="modal fade lyric" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-toggle='modal', data-target='#lyrics'>&times;</button>
        <%= link_to "<", '#', type: "button", data: {toggle: "modal", target: "#freshman", dismiss:'modal'}, class: 'close' %>
        <h4 class="modal-title"><%= t(:rivers) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:rivers_html) %></p>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div id="plate" class="modal fade lyric" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-toggle='modal', data-target='#lyrics'>&times;</button>
        <%= link_to "<", '#', type: "button", data: {toggle: "modal", target: "#freshman", dismiss:'modal'}, class: 'close' %>
        <h4 class="modal-title"><%= t(:plate) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:plate_html) %></p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<div id="want-to" class="modal fade lyric" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-toggle='modal', data-target='#lyrics'>&times;</button>
        <%= link_to "<", '#', type: "button", data: { dismiss:'modal', toggle: "modal", target: "#other"}, class: 'close' %>
        <h4 class="modal-title"><%= t(:want_to) %></h4>
      </div>
      <div class="modal-body">
        <p><%= t(:want_to_html) %></p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
