<!DOCTYPE html>
<html>
<head>
  <title>EastKin</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url"           content="http://www.eastkin.us" />
  <meta property="og:type"          content="Support saving for college" />
  <meta property="og:title"         content="East Kin's Universe" />
  <meta property="fb:app_id"        content="690984834394147" />
  <meta property="og:description"   content="A rock band from Nashville with a website that is informative and fun.  Detroy the universe of bring it new life.  Good guy or bad guy" />
  <meta property="og:image"         content="<%= image_url 'default_post_share.png' %>" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '690984834394147',
        xfbml      : true,
        version    : 'v2.8'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        height: '100%',
        width: '100%',
        playerVars: {
                  autoplay: 1,
                  loop: 1,
                  playlist: '4j2SKxlGns4',
                  controls: 0,
                  showinfo: 0,
                  autohide: 1,
                  modestbranding: 0,
                  vq: 'hd1080'},
        videoId: 'V-mCuFYfJdI',
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
      event.target.playVideo();
      player.mute();
    }

    var done = false;
    function onPlayerStateChange(event) {
      if (event.data === YT.PlayerState.ENDED)
            player.playVideo();
    }
    function stopVideo() {
      player.stopVideo();
    }
  </script>
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid fixed">
      <div class='row'>
        <ul class="nav navbar-nav header-txt">
          <div class="container-fluid">
            <div class="row">
              <div class='btn-group btn-group-justified'>
              <li class='the-buttons' role="group" aria-label="decision">
                <a href="" class="dropdown-toggle btn btn-secondary" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="true">
                   <span class="hidden-sm hidden-xs">More Decisions</span> <span class="hidden-sm hidden-xs caret"></span>
                   <span class='hidden-xl hidden-lg hidden-md'><%= glyph :option_vertical %></span>
                </a>
                <div class='btn'>
                  <%= link_to '#', type: "button", role:'button', data:
                                {toggle: "modal", target: "#musicModal"},
                                 class: 'btn btn-secondary' do %>
                    <%= glyph 'headphones'%> <span class='hidden-sm hidden-xs'><%= t(:listen) %></span>
                  <% end %>
                </div>
                <%= form_tag '/welcomes/1/edit', remote: true, id:'form', class:'btn' do %>
                  <%= hidden_field_tag 'lifeOrDeath', 'life' %>
                  <%= link_to @welcome, type: "button", role:"button",
                              remote: true, onclick:"$('#form').submit();",
                              class: 'btn btn-secondary',
                              id: 'restart-universe'  do %>
                    <%= glyph :flash %> <span class='hidden-sm hidden-xs'><%= t(:restart_universe)%></span>
                  <% end %>
                <% end %>
                <%= form_tag '/welcomes/1/edit', remote: true, id:'form1', class:'btn' do %>
                  <%= hidden_field_tag 'lifeOrDeath', 'death' %>
                  <%= link_to @welcome, type: "button", role:"button",
                              onclick:"$('#form1').submit();",
                              remote: true,
                              class: 'btn btn-secondary',
                              id: 'blow-up-universe'  do %>
                    <%= glyph :fire %> <span class='hidden-sm hidden-xs'><%= t(:blow_up_universe)%></span>
                  <% end %>
                <% end %>
                <%= render partial: 'shared/decisions-nav-main' %>
                <%= link_to '#', type: "button", role:"button", data: { toggle: "modal", dismiss:'modal', target: "#infoModal"}, class: 'btn btn-secondary pull-right', id: 'info' do %>
                  <%= glyph :globe %> <span class='hidden-sm hidden-xs'><%= t(:info)%></span>
                <% end %>
            </li>

          </div>
        </div>

        </ul>
        <div class="navbar-header">
        </div>
          <%= audio_tag("Atomic_Bomb.mp3", id: 'atomic-bomb') %>
          <div id="output"></div>
          <ul class="nav navbar-nav">
            <li class='crest pull-left hidden-xs'>
              <%= link_to '.' %></li>
            <li class='navbar-link col-md-3 col-sm-3 col-xs-3 hidden-xs'><%= link_to t(:band_name) +  t(:universe),
                ".", class: "navbar-brand" %></li>
            <li>
              <ul class="header-txt list-unstyled">
                <li class='col-md-12'>
                  <div id='all-things' class='text-warning text-center'>
                    <%= t(:all_things)%>
                  </div>
                  <div id='tokyo' class='text-danger text-center'>
                    Oh No! There Goes Tokyo!
                  </div>
                  <div id='life' class='text-info text-center'>
                    New... Shiney... Speedy... Life...
                  </div>
                </li>
              </ul>
            </li>
          </ul>
          <div class='row'>
          <div class='col-md-2 col-sm-3 col-xs-11 alert-warning alert text-center pull-right' id='score-board'>
            <span>Scoreboard</span>
            <hr>
            <label class='score-item'>
              <%= t(:for) %>:&nbsp;
              <span class="restart-count">
                <%= @welcome.restart_count %>
              </span>
            </label>

          &nbsp;&nbsp;
          <div>
            <label class='score-item'>
              <%= t(:against)%>:&nbsp;
              <span class="destroy-count">
                <%= @welcome.destroy_count %>
              </span>
            </label>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <% if notice %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-warning"><%= alert %></p>
  <% end %>

  <%= yield %>

  <%= render 'shared/modals', songs: @songs %>

</body>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
