<!DOCTYPE html>
<html>
<head>
  <title>EastKin</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '690984834394147',
        xfbml      : true,
        version    : 'v2.8'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  <script>
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
          player = new YT.Player('player', {
            height: '100%',
            width: '100%',
            playerVars: {
                      autoplay: 1,
                      loop: 1,
                      controls: 0,
                      showinfo: 0,
                      autohide: 1,
                      modestbranding: 1,
                      vq: 'hd1080'},
            videoId: 'V-mCuFYfJdI',
            events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
            }
          });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
          event.target.playVideo();
          player.mute();
        }

        var done = false;
        function onPlayerStateChange(event) {

        }
        function stopVideo() {
          player.stopVideo();
        }
  </script>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class='row'>
        <ul class="nav navbar-nav header-txt navbar-left">
          <li>
            <div id='all-things-mobile'
                  class='hidden-sm hidden-md hidden-lg hidden-xl
                         col-xs-8 text-warning text-left'><%= t(:all_things)%>
            </div>
          </li>
          <li>
            <div id='tokyo-mobile' class='text-danger text-center'>
              Oh No! There Goes Tokyo!
            </div>
            <div id='life-mobile' class='text-info text-center'>
              New... Shiney... Speedy... Life...
            </div>
          </li>
        </ul>
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-3">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
          <%= audio_tag("Atomic_Bomb.mp3", id: 'atomic-bomb') %>
          <div id="output"></div>
          <ul class="nav navbar-nav collapse-dropdown">
            <li class='crest hidden-xs hidden-sm'>
              <%= link_to( '',welcomes_path) %></li>
            <li class='navbar-link'><%= link_to t(:band_name) +  t(:universe),
                welcomes_path, class: "navbar-brand" %></li>
            <li class='col-md-12 hidden-sm hidden-md hidden-lg hidden-xl'
                id='score-board-mobile'>
              <div class='col-xs-5 pull-left'>
                <label>
                  <%= t(:for) %>:&nbsp;
                  <span class="restart-count">
                    <%= @welcome.restart_count %>
                  </span>
                </label>
              </div>
              &nbsp;&nbsp;
              <div class='col-xs-6 text-right pull-right'>
                <label>
                  <%= t(:against)%>:&nbsp;
                  <span class="destroy-count">
                    <%= @welcome.destroy_count %>
                  </span>
                </label>
              </div>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle btn" data-toggle="dropdown"
                 role="button" aria-haspopup="true" aria-expanded="false">
                 More Decisions<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li><%= link_to t(:listen), '#', type: "button", data:
                                {toggle: "modal", target: "#musicModal"},
                                 class: 'btn-link' %>
                </li>
                <li><%= link_to t(:watch), '#', type: "button", data:
                                {toggle: "modal", target: "#videoModal"},
                                 class: 'btn-link' %></li>
                <li><%= link_to t(:biography), '#', type: "button", data:
                                {toggle: "modal", target: "#bioModal"},
                                 class: 'btn-link' %></li>
                <li><%= link_to t(:live), '#', type: "button", data:
                                {toggle: "modal", target: "#liveModal"},
                                 class: 'btn-link' %></li>
                <li><%= link_to t(:lyrics), '#', type: "button", data:
                                {toggle: "modal", target: "#lyrics"},
                                 class: 'btn-link' %></li>
                <li><%= link_to t(:synth_controls), '#', type: "button", data:
                                {toggle: "modal", target: "#funModal"},
                                 class: 'btn-link' %></li>
                <li><%= link_to t(:draw), '#', type: "button", data:
                                {toggle: "modal", target: "#drawModal"},
                                 class: 'btn-link' %></li>
              </ul>
            </li>
            <li role="separator" class="divider"></li>
            <div class='btn-group pull-right col-sm-6 col-xs-12 col-md-6'
                 role="group" aria-label="decision">
              <li>
                <%= form_tag '/welcomes/1/edit', remote: true,
                              class: 'col-xs-3 pull-left', id:'form' do %>
                  <%= hidden_field_tag 'lifeOrDeath', 'life' %>
                  <%= link_to @welcome, type: "button", role:"button",
                              remote: true, onclick:"$('#form').submit();",
                              class: 'btn btn-secondary text-center',
                              id: 'restart-universe'  do %>
                    <%= t(:restart_universe)%>
                  <% end %>
                <% end %>
                <%= form_tag '/welcomes/1/edit', remote: true, id:'form1',
                            class: 'col-xs-3 pull-right' do %>
                  <%= hidden_field_tag 'lifeOrDeath', 'death' %>
                  <%= link_to @welcome, type: "button", role:"button",
                              onclick:"$('#form1').submit();",
                              remote: true,
                              class: 'btn btn-secondary text-center pull-right',
                              id: 'blow-up-universe'  do %>
                    <%= t(:blow_up_universe)%>
                  <% end %>
                <% end %>
              </li>
            </div>
            <li class='pull-right text-right hidden-xs' id='score-board'>

              <div>
                <label>
                  <%= t(:for) %>:&nbsp;
                  <span class="restart-count">
                    <%= @welcome.restart_count %>
                  </span>
                </label>
              </div>
              &nbsp;&nbsp;
              <div>
                <label>
                  <%= t(:against)%>:&nbsp;
                  <span class="destroy-count">
                    <%= @welcome.destroy_count %>
                  </span>
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class='container-fluid'>
    <ul class="hidden-xs header-txt list-unstyled col-md-12">
      <li >
        <div id='all-things' class=' text-warning text-center'>
          <%= t(:all_things)%>
        </div>
      </li>
      <li>
        <div id='tokyo' class='text-danger text-center'>
          Oh No! There Goes Tokyo!
        </div>
        <div id='life' class='text-info text-center'>
          New... Shiney... Speedy... Life...
        </div>
      </li>
    </ul>
  </div>
  <% if notice %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-warning"><%= alert %></p>
  <% end %>

  <%= yield %>

  <%= render 'modals' %>


</body>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
