<!DOCTYPE html>
<html>
<head>
  <title>EastKin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class='row'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="hidden-sm hidden-md hidden-lg hidden-xl nav navbar-nav navbar-left">
            <li class='crest2'><%= link_to( '',welcomes_path, class: "navbar-brand") %></li>
          </ul>
          <div class="collapse navbar-collapse text-right" id="bs-example-navbar-collapse-3">
            <%= audio_tag("Atomic_Bomb.mp3", id: 'atomic-bomb') %>
            <div id="output"></div>
            <ul class="nav navbar-nav hidden-xs">
              <li class='crest'><%= link_to( '',welcomes_path, class: "navbar-brand") %></li>
              <li><%= link_to t(:band_name) +  t(:universe) , welcomes_path, class: "navbar-brand" %></li><br>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to t(:restart_universe), '#', type: "button", class: 'btn-link', id: 'restart-universe' %></li>
              <li><%= link_to t(:blow_up_universe), '#', type: "button", class: 'btn-link', id: 'blow-up-universe' %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Decisions<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to t(:listen), '#', type: "button", data: {toggle: "modal", target: "#musicModal"}, class: 'btn-link' %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to t(:watch), '#', type: "button", data: {toggle: "modal", target: "#videoModal"}, class: 'btn-link' %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to t(:synth_controls), '#', type: "button", data: {toggle: "modal", target: "#funModal"}, class: 'btn-link' %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to t(:biography), '#', type: "button", data: {toggle: "modal", target: "#bioModal"}, class: 'btn-link' %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to t(:live), '#', type: "button", data: {toggle: "modal", target: "#liveModal"}, class: 'btn-link' %></li>


                </ul>
              </li>
              <li id="output", class: 'btn-link'></li>
            </ul>
          </div>
        </div>
      </div>


    </div>
    <ul class="nav navbar-nav header-txt navbar-right">
      <li>
        <div id='all-things' class='col-md-12 text-warning text-center'><%= t(:all_things)%></div>
      </li>
      <li>
        <div id='tokyo' class='text-danger text-center'>Oh No! There Goes Tokyo!</div>
        <div id='life' class='text-info text-center'>New... Shiney... Speedy... Life...</div>
      </li>
    </ul>
  </nav>
  <% if notice %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-warning"><%= alert %></p>
  <% end %>
  <%= yield %>
  <!-- Trigger the modal with a button -->

<!-- Modal -->
<div id="bioModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Bio</h4>
      </div>
      <div class="modal-body">
        <p><%= t(:bio_html) %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="musicModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:music) %></h4>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="540" scrolling="no" frameborder="yes" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/243063402%3Fsecret_token%3Ds-TpVmL&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false"></iframe>
        <iframe name="full" style="width:100%;height:520px;border:0px;" src="//widget.cdbaby.com/7101fc47-1a4b-4a83-b472-474143081afa/full/dark/opaque"></iframe>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div id="liveModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:live) %></h4>
      </div>
      <div class="modal-body">
        <p class='text-center'>You don't know East Kin until you've seen them live. Coming soon to a bar near you... if you live in Nashville.</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div id="videoModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:video) %></h4>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/Dt6hSgKSE9k" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Hide</button>
      </div>
    </div>

  </div>
</div>
<div id="funModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(:synth_controls) %></h4>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <div id="synth-widget"></div>
        <%= t(:synth_explaination_html) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Hide</button>
      </div>
    </div>

  </div>
</div>

</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
