<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-71572758-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-71572758-2');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="css/YTPlayer.css" media="all" rel="stylesheet" type="text/css">
  <script src="inc/jquery.mb.YTPlayer.js"></script>
  <%= csrf_meta_tags %>
  <%= display_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid fixed">
      <div class='row'>
        <ul class="nav navbar-nav">
          <li class='crest hidden-xs'></li>
          <li class='col-lg-6 col-md-6 col-sm-6 col-xs-6 hidden-xs'>
            <span class="navbar-brand alert-warning alert"><%=  t(:band_name) +  t(:universe)%></span>
          </li>
          <li>
            <ul class="header-txt list-unstyled">
              <li>
                <div id='all-things' class='text-warning text-center alert-warning alert'>
                  <%= t(:all_things)%>
                </div>
                <div id='tokyo' class='text-danger text-center alert alert-danger'>
                  Oh No! There Goes Tokyo!
                </div>
                <div id='life' class='text-info text-center alert alert-info'>
                  New... Shiney... Speedy... Life...
                </div>
              </li>
            </ul>
          </li>
        </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class='container-fluid'>
    <% if notice %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-warning"><%= alert %></p>
    <% end %>

    <%= yield %>
</div>
</body>
<%= javascript_include_tag 'song_layout', 'data-turbolinks-track' => true %>
</html>
