<!DOCTYPE html>
<html>
<head>
  <% set_meta_tags title: "East Kin's Universe" %>
  <% set_meta_tags site: "East Kin's Universe" %>
  <% set_meta_tags charset: "utf-8" %>
  <% set_meta_tags fb: { [app_id: "690984834394147"] } %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= display_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid fixed">
      <div class='row'>
          <ul class="nav navbar-nav">
            <li class='crest pull-left hidden-xs'>
              <%= link_to '.' %></li>
            <li class='navbar-link col-md-3 col-sm-3 col-xs-3 hidden-xs'>
              <%= link_to t(:band_name) +  t(:universe),
                ".", class: "navbar-brand" %>
            </li>
            <li>
              <ul class="header-txt list-unstyled">
                <li class='col-md-12'>
                  <div id='all-things' class='text-warning text-center'>
                    <%= t(:all_things)%>
                  </div>
                  <div id='tokyo' class='text-danger text-center'>
                    Oh No! There Goes Tokyo!
                  </div>
                  <div id='life' class='text-info text-center'>
                    New... Shiney... Speedy... Life...
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class='container-fluid'>
    <% if notice %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-warning"><%= alert %></p>
    <% end %>

    <%= yield %>
</div>
</body>
<%= javascript_include_tag 'song_layout', 'data-turbolinks-track' => true %>
</html>
